* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  text-align: center;
}

.container {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
