* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: #dfcdc3;
}

p {
  color: #dfcdc3;
  font-size: 1.5em;
  text-decoration: none;
}

.page {
  width: 1280px;
  margin: 0 auto;
}

.name {
  float: left;
  width: 350px;
  margin: 0 left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact {
  float: right;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: right;
}

.video {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  width: 1280px;
  margin: 0 auto;
}

.reel {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
}

body {
  /* background-color: #B5AFAE; */
  background-color: #3c4245; /*brownish*/
  font-size: 18px;
  font-family: "raleway", "helvetica", sans-serif;
  font-weight: normal;
}
